#nav-bar {
  position: fixed;
  width: 100%;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #00a087;
  color: #e8fdff;
}

#nav-bar .logo {
  /* ... */
  height: 80px;
  width: 80px;
  float: left;

}

#nav-bar .header {
  /* ... */
  float: left;
  font-size: 200%;
  line-height: 2.5;
  padding-left: 10px;


}
/* Compose button */
#nav-bar input{
  position: absolute;
  right: 3em;
  margin-top: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: .5em;
  background-color: rgb(216, 246, 247);
  color: rgb(89, 145, 89);
  border-radius: 10px;
  font-size: 150%;

}

#nav-bar input:hover {
  background-color: white;
  color: black;

}